@import "~bootstrap";

.header {
  @extend .text-center;
  @extend .display-3;
  color: white;

  @include media-breakpoint-up(sm) {
    background: $danger;
  }

  @include media-breakpoint-up(md) {
    background: $info;
  }

  @include media-breakpoint-up(lg){
    background: $dark;
  }

  @include media-breakpoint-up(xl){
    background: $success;
  }
  margin: 0;
}


